body {
    background-color: #ffffff;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    
}

h3 {
    font-family: 'Cinzel', serif;
    font-size: 25px;
}

h2 {font-family: 'Cinzel', serif;
    font-size: 50%;
}

p { 
    font-family: 'Heebo', sans-serif;
    text-align: justify;
    line-height: 25px;
}

li {font-family: 'Heebo', sans-serif;
    text-align: justify;
    line-height: 25px;
}

/* Main Styles */

.fluid {
    padding: 0px;
    
}
.contnav {
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.colmd1 {
    margin-left: 10px;
    margin-right: 10px;
}
.colmd12 {
    margin-left: 21%;
    padding-top: 20px;
}
.col-sm {
    padding: 0px;
}
.mx-left {
    border-radius: 10px 0px 10px 0px;
    -webkit-border-radius: 10px 0px 10px 0px;
    -moz-border-radius: 10px 0px 10px 0px;
    -ms-border-radius: 10px 0px 10px 0px;
    -o-border-radius: 10px 0px 10px 0px;
}
.form {
    font-family: 'Heebo', sans-serif;
    text-align: justify;
    line-height: 35px;
    background-color: #ffffff;
    padding-top: 0px;
}
.lable {
    padding: 0px 0px 5px 5px;
}
.lable1 {
    padding: 10px 0px 5px 5px;
}
#dropdown {
    width: 100%;
    height: 50%;
    border: 1px solid darkgrey;
    background-color:#f1eeee;
}
#dropdown option{
    width: 100%;
    height: 50%;
    border: 1px solid  darkgrey;
    background-color:#f1eeee;
}
.input {
    padding-left: 10px;
    width: 100%;
    border: 1px solid  darkgrey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color:#f1eeee;
}
.text {
    width: 100%;
    border: 1px solid  darkgrey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color:#f1eeee;
}
.submit {
    width: 100%;
    height: 50px;
    background-color: #444242;
    border: #444242;
}
.submit:hover {
    width: 100%;
    height: 50px;
    background-color: #c1bfbf;
    border: #c1bfbf;
    color: black;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.contgal {
    margin-top: -50px;
}

/* MainStyles End */

/* Carusel */
.card {
    border: none;
}
.card-body {
    padding: 0px;
}
.col-md-3 {
    padding:0;
}
/* Navigation Bar Styles */
.navbar {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: auto; 
    
}
.navbar-light .navbar-toggler {
    margin-left: 42%;
    border: 1px solid black;
    float: left;
}
.navbar-light .navbar-nav .nav-link {
    padding: 5px 15px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: red;
}
#logo {
    margin-left: 6%;
}
.nav-item {
    text-align: center;
}
/* Navbar styles end */

/* Carousel Items */
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  -o-transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  -o-transform: translateX(-25%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

/* End Carousel Items */


.chevron {
    padding-left: 10px;
    background-color: white;
    opacity: 0.5;
}

.mobilescreen{
    display: none;
}
/* Footer Items */
.fab {
    font-size: 25px;
    color:red;
}
.fab:hover {
    text-decoration: none;
    color: blueviolet;
}
.footer {
    padding-top: 2%;
    padding-bottom: 50px;
    margin-left: 20%;
    text-align: left;
}



@media only screen and (max-width: 1000px) {
    /* .carousel-inner .carousel-item > div {
        display: none;
    } */
    h3 {
        font-family: 'Cinzel', serif;
        font-size: 22px;
    }
    .navbrand {
        padding: 0px 0px 10px 0px;
        margin-left: 17%; 
    }

    .fullscreen {
        display: none;
    }
        /* displaying mobilescreen in mobile */
        .mobilescreen {
          display: unset;
    }
    /* .carousel-inner .carousel-item > div:first-child {
        display: flex;
    }

    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
      -webkit-transform: translateX(25%);
      -moz-transform: translateX(25%);
      -ms-transform: translateX(25%);
      -o-transform: translateX(25%);
    } */
    
    
}
/* display 3 */
@media only screen and (max-width: 850px) {
   
    .navbar-light .navbar-toggler {
    margin-left: 45%;
    border: 1px solid black;
    float: left;
    }

    .fullscreen {
    display: none;
    }
    /* displaying mobilescreen in mobile */
    .mobilescreen {
      display: unset;
    }
    
    #logo {
        margin-left: 0px;
    }

}
@media only screen and (max-width: 650px) {
    .fullscreen {
        display: none;
    }
      /* displaying mobilescreen in mobile */
      .mobilescreen {
          display: unset;
    }
    
    h3 {
    font-family: 'Cinzel', serif;
    font-size: 22px;
    }
    
    #logo {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 450px) {
   /* hiding  fullscreen div in mobile */
    .fullscreen {
      display: none;
    }
    /* displaying mobilescreen in mobile */
    .mobilescreen {
        display: unset;
    }
    .col-md-12 {
        padding: 0px 0px 0px 0px;
    }
    .navbrand {
        font-family: 'Cinzel', serif;
        font-size: 210%; 
        padding: 0px 0px 8px 0px;
        margin-left: 15%;
    }
    .colmd12 {
        margin-left: 10%;
    }
    .navbar-light .navbar-toggler {
        margin-left: 43%;
        border: 1px solid black;
        float: left;
    }
    .navbrand {
        padding: 0px 0px 10px 0px;
        margin-left: 10%;       
    }
    #logo {
        margin-left: 0px;
    }
    
}

 



